</body>
 <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Random Beer</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    {{#each beers}}
     <a href="/beers/{{ _id }}">{{> beerpartial}}</a>
    
    <!--<img src="{{ image_url}}" alt="{{name}}">
    <h2>{{ name }}</h2>
    <p>{{ description }}</p>
    <p>Tagline: {{ tagline }}</p>*/-->
    {{/each}}
</body>
</html>