</body>
 <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Random Beer</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>Random Beer</h1>
      {{> beerpartial randomBeer }}
         {{!-- <img src="{{ randomBeer.image_url }}" alt="{{ randomBeer.name }}">
        <h2>{{ randomBeer.name }}</h2>
        <p>{{ randomBeer.description }}</p>
        <p>Tagline: {{ randomBeer.tagline }}</p>
        <p>Food Pairing: {{ randomBeer.food_pairing }}</p>
        <p>Brewer Tips: {{ randomBeer.brewers_tips }}</p>--}}
</body>
</html>